/* Position es la propiedad que nos permite modificar el flujo del HTML

Los valores de position son:

    Static (Valor por defecto)
    Relative
    Absolute
    Fixed
    Sticky

Al tener un elemento posicionado podemos moverlo en los 3 ejes

    top: Podemos mover el elemento en relación a la parte superior.
    right: Podemos mover el elemento en relación a la parte derecha.
    bottom: Podemos mover el elemento en relación a la parte inferior.
    left: Podemos mover el elemento en relación a la parte izquierda.
    z-index: Podemos mover el elemento en el eje Z.

*/

.title {
    text-align: center;
    font-size: 3em;
}

p {
    font-size: 2em;
}

.parrafo-1 {
    /*visibility: hidden;*/
    display: none;
}